* {
  box-sizing: border-box;
}

*:focus {
	outline: none;
}
body {
  font-family: sans-serif;

  background-color: #fafafa;
  padding: 50px;
}

form {
	width: 400px;
	margin: 4em 4em 4em auto;
	padding: 3em 2em 2em 2em;
	background: rgb(255, 255, 255);
	border: 1px solid rgba(0,0,0,0.14902);
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

h1, a {

  text-align: left;
  color: #636363;
}

.control-group {
  margin-bottom: 10px;
}

input {
  margin-bottom: 30px;
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  background: #eee;;
  color: #636363;
  width: 100%;
  border: none;
  border-radius: 0;

}

input:focus {
  border-bottom: 2px solid #636363;
  box-shadow: none;

}
.alerts{
  float:right;
}
.alert {
  padding: 20px;
  border-color: #B63E5A;background: #E26868;color: #fff;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
.form-container{
  float:left;
  width:40%;
}

.btn {
  border: 2px solid transparent;
  background: rgb(35, 180, 105);
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 100%;
  margin: 0 0 10 0;
}

.magic-card {
  background-image: url('/images/magic-card-back.png');
}
