$primary-font-color: #000;
$secundary-font-color: #C6C6C6;
$terciary-font-color: #B7B7B7;

$url-public: '../';
$url-public-images: $url-public + 'images/';

$primary-bg-color: #FFF;
$secundary-bg-color: #FAFAFA;

$primary-border-color: #C0C0C0;

$default-margin-space: 0.75em;

$navbar-main-height-large: 53px;
$navbar-line-height: 30px;

$font-size-bory: 12px;
$font-size-h1: 2.5rem;
$font-size-h2: 2.25rem;
$font-size-h3: 2.0rem;
$font-size-h4: 1.75rem;
$font-size-h5: 1.5rem;


$directions: (
	"t": top,
	"b": bottom,
	"l": left,
	"r": right
);