$upside-block-size: 60%;
$downside-block-size: 100-$upside-block-size;

#Dashboard {
	height: 100%;
	margin: 0;
	#UserDecks {
		height: calc( #{$upside-block-size} - ( #{$default-margin-space}*2 ) );
	}		
	#UserCards {
		height: $downside-block-size;
		margin-top: ($default-margin-space * 2);
	}
	#UserScore {
		@extend #UserDecks;
	}
	#UserFriends {
		@extend #UserDecks;
	}
	#UserStats {
		@extend #UserCards;
	}
}