<!DOCTYPE html>
<html >
<head>
	<meta charset="UTF-8">
	<title>Home Page</title>  
	<link rel="stylesheet" href="css/style.css">

</head>
<body>
	<% if(user) { %>
	<!-- <p>C TA LOGADO CARAAAAI! <%= user.username %><p>  -->
	<nav id="MainNavbar" class="shadow-bottom">
		<div class="nav-wrapper">
			<a class="brand-logo">Logo</a>
<!-- 			<div class="badge right logged radius">
			</div> -->
			<ul class="right hide-on-med-and-down">
				<li>
					<a href="#" class="badge">
						<%= user.username.toUpperCase().trim() %>
					</a>
				</li>
			</ul>
		</div>
	</nav>
	<div id="Main">
		<div id="Dashboard" class="row p-tb-2 bb f-h">
			<div class="col s7 p-tb-0 f-h bb b-r-1">
				<div class="row f-h m-b-0">
					<div id="UserDecks" class="col s6">
						<div class="block f-h bb">
							
						</div>
					</div>
					<div id="UserFriends" class="col s6">
						<div class="block f-h bb">
							
						</div>
					</div>
					<div id="UserCards" class="col s12">
						<div class="block f-h bb">
							
						</div>
					</div>
				</div>
			</div>
			<div class="col s5 p-tb-0 f-h bb">
				<div class="row f-h m-b-0">
					<div id="UserScore" class="col s12">
						<div class="block f-h bb">
							
						</div>
					</div>
					<div id="UserStats" class="col s12">
						<div class="block f-h bb">
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% } else { %>
	<p>nada acontece feijoada</p>
	<% }%>
</body>
</html>
