<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Login Form</title>  
        <link rel="stylesheet" href="css/style.css">
  
  </head>

  <body>
    <div class="magic-card outside"></div>
    <div class="magic-card inside"></div>
	<form method="post">
			<h1>Simple Magic</h1><br>

			<div class="login-form">
				<div class="control-group">
				<label for="login-name">Username</label>
				<input type="text" value="" placeholder="username" name="username" id="login-name">
				
				</div>

				<div class="control-group">
					<label for="login-pass">password</label>
				<input type="password" class="login-field" value="" name="password" placeholder="password" id="login-pass">
				
				</div>

				<input type="submit" class="btn btn-primary btn-large btn-block" >

			</div>
	</form>
</body>
    
    
    
    
  </body>
</html>
