<!DOCTYPE html>
<html >
	<head>
		<meta charset="UTF-8">
		<title>Login Form</title>  
		<link rel="stylesheet" href="css/style.css">
		<script type="text/javascript" src="js/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="js/materialize/materialize.min.js"></script>
	</head>

	<body id="Login">
		<nav id="MainNavbar" class="shadow-bottom">
			<div class="nav-wrapper">
				<a class="brand-logo">Logo</a>
				<ul class="right hide-on-med-and-down">
					<li>
						<a href="#" class="badge">
						</a>
					</li>
				</ul>
			</div>
		</nav>
		<div id="Main">
			<div class="magic-card outside"></div>
			<div class="magic-card inside"></div>
			<div class="block login">
				<form method="post" class="col s12">
					<h1>
						<img src="images/logo.png">
						Simple Magic
					</h1>

					<div class="login-form">
						<div class="input-field">
							<label for="login-name">Username</label>
							<input type="text" value="" name="username" id="login-name">
						</div>

						<div class="input-field">
							<label for="login-pass">password</label>
							<input type="password" class="login-field" value="" name="password" id="login-pass">
						</div>

						<input type="submit" class="btn btn-primary btn-large btn-block" >

					</div>
				</form>
			</div>
		</div>
	</body>
</html>